*{
	margin: 0;
	padding: 0;
}
.wrap{
	height: 570px;
	width: 550px;
	box-shadow: 0 0 10px #000;
	background: #d6d6d6;
	border-radius: 10%;
	margin: 50px auto;

}
h1{
	text-align: center;
	text-transform: uppercase;
}
.twiter{
	height: 256px;
	width: 256px;
	background: url('../images/css_sprites.png') -10px -10px;	
	float: left;
}
.twiter:hover{
	height: 256px;
	width: 256px;
	 background: url('../images/css_sprites.png') -10px -286px;
	
}
.facebook{
	width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -10px -562px;
    float: left;
}
.facebook:hover{
	width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -10px -838px;
}
.skype{
	width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -10px -1114px;
    float: left;
}
.skype:hover{
	width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -10px -1390px;
}
.instagram{
	width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -10px -1666px;
    float: left;
}
.instagram:hover{
	width: 256px; height: 256px;
    background: url('../images/css_sprites.png') -10px -1942px;
}