*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.parent {
  min-height: 20px;
  width: 440px;
  background: #FF6600;
  margin: 0 auto;

}
.rows {
  width: 100px;
  height: 100px;
  background: #00F1FF;
  margin: 5px;
  float: left;

}


.clearfix{
	clear: both;
}