*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background:#d1d1d1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.wrap{
	width: 641px;
	background:#fff;
	min-height: 10px;
	padding:  59px 50px 30px 50px;
	margin-bottom: 57px;
}

header{
	width: 641px;
	height: 150px;
	margin-top: 57px; 
	background-image: url('../images/header_bg.gif');
	background-size: cover;
}


 .text-title{
	text-align: center;
	margin-bottom: 17px;
}
.text-main {
	text-align: left;
	margin-bottom: 34px;
	line-height: 25px;
}

.highlight{
	font-weight: bold;
}

.service{
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;
}

.one-item,
.two-item{
	max-width: 255px;
}

.three-item,
.four-item,
.fife-item{
	max-width: 160px;
	margin-top: 30px;
}
.service-item{
	flex: 1;

}
.img-big img{
	width: 255px;
	height: 100%;
}
.text{
	width: 100%;
	margin: 22px 0 45px 0; 
}

.img-small img{
	width: 160px;
	
}
.text-finished{
	margin-top: 34px;
}
.text-end{
	margin-bottom: 21px;

}
.btn{
	height: 41px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 41px;	
	background:#cf5b4e;
	border-radius: 10px;
	cursor: pointer;
}

